<div>
<igx-carousel [loop]="false" [interval]="0" [navigation]="true">
    <igx-slide style="min-height: 600px; background: #bada55;">
        <h1>1</h1>
        <h1>Ready...</h1>
    </igx-slide>
    <igx-slide style="min-height: 600px; background: #bada55;">
        <h1>2</h1>
        <h1>Steady</h1>
    </igx-slide>
    <igx-slide style="min-height: 600px; background: #bada55;">
        <h1>3</h1>
        <h1>Go</h1>
        <button igxButton="raised" igxRipple routerLink="/board">
            Ok I'm ready
        </button>
    </igx-slide>
</igx-carousel>
</div>