@import "node_modules/zero-blocks/fonts/material-icons.css";
@import "node_modules/zero-blocks/zero-blocks.material.css";

.content {
    margin-top: 72px;
}

.sb-container {
    padding: 0 16px;
}

.inner-content {
    margin-top: 72px;
    padding: 16px;
}

.fab-container {
    position: fixed;
    bottom: 86px;
    right: 16px;
    z-index: 24;
}

.button-group {
    display: flex;
    justify-content: space-around;
    padding: 16px 0;
}

.new-order-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
}
.ig-list__item {
    min-height: 72px;
}


.list-item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.list-item__fl,
.list-item__sl {
    margin: 0;
}

.list-item__fl {
    font-size: 16px;
    flex-grow: 1;
}

.list-item__sl {
    flex-grow: 1;
    font-size: 14px;
    color: gray;
}

.lines {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.circle {
    min-width: 40px;
    margin-right: 16px;
    fill: gray;
}