@import "node_modules/zero-blocks/fonts/material-icons.css";
@import "node_modules/zero-blocks/zero-blocks.material.css";

.ig-tab-inner {
    margin-bottom: 56px;
}

.splashscreen {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.content {
    margin-top: 56px;
}

.searchbar {
    padding: 1px 16px;
}

.inner-content,
.inner-content--center {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: calc(100% - 56px);
    margin-top: 56px;
    padding: 16px;
}

.inner-content--center {
    justify-content: center;
}

.fab-wrapper {
    position: fixed;
    bottom: 72px;
    right: 16px;
    z-index: 24;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    padding: 16px 0;
    align-self: flex-end;
}

.button-group [igButton]~[igButton] {
    margin-left: 8px;
}

.new-order-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
}

.ig-list__item {
    min-height: 72px;
}

.list-item-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.order-detail__date,
.order-datail__number,
.order-detail__prefix,
.list-item__prefix,
.list-item__fl,
.list-item__sl {
    margin: 0;
}

.list-item__prefix {
    color: gray;
    font-size: 12px;
}

.list-item__fl {
    font-size: 16px;
    flex-grow: 1;
}

.list-item__sl {
    flex-grow: 1;
    font-size: 14px;
    color: gray;
}

.lines {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.circle,
.circle--done,
.circle--canceled {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0375BE;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    margin-right: 16px;
}

.circle--done {
    background: #0B3C49;
}

.circle--canceled {
    background: #FF6978;
}


.order-detail__prefix,
.order-detail__date {
    color: gray;
}

.order-datail__number {
    font-size: 24px;
    line-height: 24px;
}

.order-detail_cbxgroup {
    margin: 40px 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}
.barcode-image {
    width: 70%;
    max-width: 500px;
    align-self: center;
    margin: 60px 0;
    pointer-events: none;
}

.capture-barcode {
    margin: 24px 0;
    align-self: center;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke: #0375BE;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}