<!--Navbar Component Start-->
<igx-navbar title="Add order" routerLink="/" actionButtonIcon="arrow_back"></igx-navbar>
<!--Navbar Component End-->

<!--Main Content Start-->
<div class="content">
	<form (ngSubmit)="onSubmit()" #orderForm="ngForm">

		<div class="ig-form-group">
			<input type="text" igxInput name="orderNumber" [(ngModel)]="order.number" required>
			<label igxLabel>Order Number</label>
		</div>

		<div class="button-group" *ngIf="!isScanned">
			<button igxButton="raised" type="submit" [disabled]="!orderForm.form.valid">Add Order</button>
			<button igxButton="raised" routerLink="/scan">Scan Barcode</button>
		</div>

		<div class="button-group" *ngIf="isScanned">
			<button igxButton="raised" igxButtonBackground="white" igxButtonColor="red" (click)="cancel($event)">Cancel</button>
			<button igxButton="raised" type="submit">Confirm</button>
		</div>

	</form>
</div>
<!--Main Content End-->
