<div class="orderHeader">

  <div style="display: inline-block;">
    <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="backButtonClicked()">
      <igx-icon fontSet="material" name="arrow_back"></igx-icon>
    </button>
  </div>

  <div style="display: inline-block" *ngIf="order.completed == true">
    {{ 'lblCompleteOrder' | translate }}
  </div>
  <div style="display: inline-block" *ngIf="order.completed == false">
    {{ 'lblIncompleteOrder' | translate }}
  </div>

</div>

<div class="orderInfo">
  Order Number<br />
  {{order.id}}<br />
  Date<br />
  {{order.date}}
</div>

<div class="orderItems">

<!--
  (onItemClicked)="toggleListItem($event)"
-->
  <igx-list >
    
    <igx-list-item *ngFor="let item of order.items">

      <div>
        <div>
          <div style="display: inline-block;">
            <igx-checkbox [(ngModel)]="item.Packaged"></igx-checkbox>
          </div>
          {{item.Quantity}}x
          {{item.ID}}
          <span class="aisleBin">{{item.Aisle}}</span>&nbsp;
          <span class="aisleBin">{{item.Bin}}</span>
          <div style="display: inline-block;">
            <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="toggleListItem(order.id, item.ID)">
              <igx-icon fontSet="material" name="keyboard_arrow_down"></igx-icon>
            </button>
          </div>
        </div>
        <div id="cont_{{order.id}}_{{item.ID}}" style="display:none">
          <img src="{{item.Image}}" style="float:left; margin:5px; width:60px; height:60px;">
          <span>{{item.Name}}</span><br />
          <span>{{item.Description}}</span><br />
          <span>{{item.Price}}</span>
        </div>
      </div>      
      
    </igx-list-item>

  </igx-list>

</div>
