<div class="pageHeader">

  <div style="display: inline-block;">
    <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="backButtonClicked()">
      <igx-icon fontSet="material" name="arrow_back"></igx-icon>
    </button>
  </div>

  <div style="display: inline-block" *ngIf="order.status == 0">
    {{ "lblActive" | translate }}
  </div>
  <div style="display: inline-block" *ngIf="order.status == 1">
    {{ "lblIncompleteOrder" | translate }}
  </div>
  <div style="display: inline-block" *ngIf="order.status == 2">
    {{ "lblCompleteOrder" | translate }}
  </div>

</div>

<div class="orderInfo">
  Order Number<br />
  {{order.id}}<br />
  Date<br />
  {{order.date}}
</div>

<div class="orderItems">

  <igx-list>
    <igx-list-item *ngFor="let item of order.items">

      <div>
        <div>
          <div style="display: inline-block;">
            <igx-checkbox [(ngModel)]="item.Found" [disabled]="itemsDisabled"></igx-checkbox>
          </div>
          {{item.Quantity}}x
          {{item.ID}}
          <span class="aisleBin">{{item.Aisle}}</span>&nbsp;
          <span class="aisleBin">{{item.Bin}}</span>
          <div style="display: inline-block;">
            <button igxButton="icon" igxRipple igxRippleCentered="true" (click)="toggleListItem(order.id, item.ID)">
              <igx-icon fontSet="material" name="keyboard_arrow_down"></igx-icon>
            </button>
          </div>
        </div>
        <div id="cont_{{order.id}}_{{item.ID}}" style="display:none">
          <img src="{{item.Image}}" style="float:left; margin:5px; width:60px; height:60px;">
          <span>{{item.Name}}</span><br />
          <span>{{item.Description}}</span><br />
          <span>{{item.Price}}</span>
        </div>
      </div>      
      
    </igx-list-item>
  </igx-list>

</div>

<div class="orderActionButtons">

  <button class="btnBlue" (click)="btnSentToActiveHandler()" *ngIf="order.status == 1">
    {{ "btnSentToActive" | translate }}
  </button><br />
  <button class="btnRed" (click)="btnDeleteHandler()" *ngIf="order.status == 1 || order.status == 2">
    {{ "btnPermanentlyDelete" | translate }}
  </button><br />
  <button class="btnBlue" (click)="btnCompleteHandler()" *ngIf="order.status == 0">
    {{ "btnCompleteOrder" | translate }}
  </button><br />

  <span *ngIf="order.status == 0">
    {{ "lblMissingItems" | translate }}
  </span><br />

  <a href="#" (click)="btnMarkAsIncompleteHandler()" *ngIf="order.status == 0">
    {{ "lblMarkTheOrderAsIncomplete" | translate }}
  </a>

</div>
