
.pageImages {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pageContent {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 280px;
}

.actionButtons {
    text-align: center;
}
