<!--<div class="temp-navbar">
	<h4 class="temp-navbar__title">{{ selected }} Orders</h4>
</div>-->

<ig-navbar title="{{selected}} Orders"></ig-navbar>
<div class="content">
	<div class="sb-container">
		<div class="ig-form-group">
			<input class="ig-form-group__input--search" [placeholder]="'Search ' +  selected.toLowerCase() + ' orders'" [(ngModel)]="search_val"
			/>
		</div>
	</div>
	<ig-tab-bar alignment="bottom" (selectTab)="changeLabel($event)">
		<ig-tab label="Active" icon="bookmark">
			<ig-list>
				<ig-list-item igRipple="rgba(#0375be" igRippleTarget=".ig-list__item" *ngFor="let order of orders | filter: fOptions">
					<div class="list-item-container" (click)="goto(order)">
						<svg class="circle" width="40px" height="40px" viewBox="0 0 40 40">
							<defs>
								<circle id="path-1" cx="20" cy="20" r="20" fill="#0375BE"></circle>
								<mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="40" height="40" fill="white">
									<use xlink:href="#path-1"></use>
								</mask>
							</defs>
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
								<use id="Oval" stroke="#0375BE" mask="url(#mask-2)" stroke-width="6" fill="#FFFFFF" xlink:href="#path-1"></use>
							</g>
						</svg>
						<div class="lines">
							<h6 class="list-item__fl">{{ order.number }}</h6>
							<h5 class="list-item__sl">{{ order.date }}</h5>
						</div>
					</div>
				</ig-list-item>
			</ig-list>
		</ig-tab>

		<ig-tab label="Archived" icon="library_books">
			<ig-list>
				<ig-list-item igRipple igRippleTarget=".ig-list__item" *ngFor="let order of canceled_orders | filter: fOptions">
					<div class="list-item-container" (click)="goto(order)">
						<div class="lines">
							<h6 class="list-item__fl">{{ order.number }}</h6>
							<h5 class="list-item__sl">{{ order.date }}</h5>
						</div>
					</div>
				</ig-list-item>
			</ig-list>
		</ig-tab>

	</ig-tab-bar>
</div>

<div class="fab-container">
	<span igButton="fab" igRipple="white" routerLink="/new"><i class="material-icons">add</i></span>
</div>