<div class="navbar-wrapper">

	<!--Navbar Component Start-->
	<igx-navbar title="{{selected}} Orders"></igx-navbar>
	<!--Navbar Component End-->

	<!--Searchbar Start-->
	<div class="igx-form-group searchbar">
		<input class="igx-form-group__input--search" [placeholder]="'Search ' +  selected.toLowerCase() + ' orders'" [(ngModel)]="search_val"/>
		<label igxLabel>
			<i class="material-icons">search</i>
		</label>
		<span class="igx-form-group__clear--hidden">
			<i class="material-icons">clear</i>
		</span>
	</div>
	<!--Searchbar End-->

</div>

<!--Main Content-->
<div class="content--np content--main">

	<!--Tabbar Component Start-->
	<igx-tab-bar alignment="bottom" (selectTab)="changeLabel($event)">
		<!--First Tab Start-->
		<igx-tab label="Active" icon="bookmark">
			<igx-list>
				<igx-list-item igxRipple="#0375be" igxRippleTarget=".ig-list__item" *ngFor="let order of orders | igxFilter: fOptions">
					<div class="item-wrapper" (click)="goto(order)">
						<div class="item-icon" style="width: 46px; height: 46px;">
    						<igx-circular-bar [value]="order.completion || 0"></igx-circular-bar>
						</div>
						<div class="item-info">
							<h6 class="item-info__fl">{{ order.number }}</h6>
							<h5 class="item-info__sl">{{ order.date }}</h5>
						</div>
						<div class="item-arrow">
							<i class="material-icons">chevron_right</i>
						</div>
					</div>
				</igx-list-item>
			</igx-list>
		</igx-tab>
		<!--First Tab End-->

		<!--Second Tab Start-->
		<igx-tab label="Archived" icon="archive">
			<igx-list>
				<igx-list-header>Completed</igx-list-header>
				<igx-list-item igxRipple igxRippleTarget=".ig-list__item" *ngFor="let order of completed_orders | igxFilter: fOptions">
					<div class="item-wrapper" (click)="goto(order)">
						<div class="item-icon">
							<igx-avatar roundShape="true" icon="done" bgColor="#3C4">
							</igx-avatar>
						</div>
						<div class="item-info">
							<h6 class="item-info__fl">{{ order.number }}</h6>
							<h5 class="item-info__sl">{{ order.date }}</h5>
						</div>
						<div class="item-arrow">
							<i class="material-icons">chevron_right</i>
						</div>
					</div>
				</igx-list-item>
				<igx-list-header>Canceled</igx-list-header>
				<igx-list-item igxRipple igxRippleTarget=".ig-list__item" *ngFor="let order of canceled_orders | igxFilter: fOptions">
					<div class="item-wrapper" (click)="goto(order)">
						<div class="item-icon">
							<igx-avatar roundShape="true" icon="close" bgColor="#FF6978">
							</igx-avatar>
						</div>
						<div class="item-info">
							<h6 class="item-info__fl">{{ order.number }}</h6>
							<h5 class="item-info__sl">{{ order.date }}</h5>
						</div>
						<div class="item-arrow">
							<i class="material-icons">chevron_right</i>
						</div>
					</div>
				</igx-list-item>
			</igx-list>
		</igx-tab>
		<!--Second Tab End-->

	</igx-tab-bar>
	<!--Tabbar Component End-->

</div>
<!--Main Content End-->

<!--FAB Start-->
<button class="board-fab" igxButton="fab" igxRipple="white" routerLink="/new">
	<i class="material-icons">add</i>
</button>
<!--FAB End-->