<!--Navbar Component Start-->
<ig-navbar title="{{selected}} Orders"></ig-navbar>
<!--Navbar Component End-->

<!--FAB Start-->
<div class="fab-wrapper">
	<span igButton="fab" igRipple="white" routerLink="/new"><i class="material-icons">add</i></span>
</div>
<!--FAB End-->

<!--Main Content-->
<div class="content">

	<!--Searchbar Start-->
	<div class="searchbar">
		<div class="ig-form-group">
			<input class="ig-form-group__input--search" [placeholder]="'Search ' +  selected.toLowerCase() + ' orders'" [(ngModel)]="search_val"
			/>
			<label igLabel>
				<i class="material-icons">search</i>
				</label> 
			<span class="ig-form-group__clear--hidden">
				<i class="material-icons">clear</i>
			</span>
		</div>
	</div>
	<!--Searchbar End-->

	<!--Tabbar Component Start-->
	<ig-tab-bar alignment="bottom" (selectTab)="changeLabel($event)">

		<!--First Tab Start-->
		<ig-tab label="Active" icon="bookmark">
			<ig-list>
				<ig-list-item igRipple="rgba(#0375be" igRippleTarget=".ig-list__item" *ngFor="let order of orders | filter: fOptions">
					<div class="list-item-wrapper" (click)="goto(order)">
						<div class="circle">
							<i class="material-icons">shopping_basket</i>
						</div>
						<div class="lines">
							<p class="list-item__prefix">Order #</p>
							<h6 class="list-item__fl">{{ order.number }}</h6>
							<h5 class="list-item__sl">{{ order.date }}</h5>
						</div>
					</div>
				</ig-list-item>
			</ig-list>
		</ig-tab>
		<!--First Tab End-->

		<!--Second Tab Start-->
		<ig-tab label="Archived" icon="archive">
			<ig-list>
				<ig-list-header>Completed</ig-list-header>
				<ig-list-item igRipple igRippleTarget=".ig-list__item" *ngFor="let order of canceled_orders | filter: fOptions">
					<div class="list-item-wrapper" (click)="goto(order)">
						<div class="circle--done">
							<i class="material-icons">done</i>
						</div>
						<div class="lines">
							<p class="list-item__prefix">order #</p>
							<h6 class="list-item__fl">{{ order.number }}</h6>
							<h5 class="list-item__sl">{{ order.date }}</h5>
						</div>
					</div>
				</ig-list-item>
			</ig-list>
		</ig-tab>
		<!--Second Tab End-->

	</ig-tab-bar>
	<!--Tabbar Component End-->
	
</div>
<!--Main Content End-->