<igx-toast #toastComp [message]="toastMessage"></igx-toast>

<igx-bottom-nav #mainTabBar>

  <igx-tab-panel label="{{ 'btnActive' | translate }}" icon="bookmark">

    <div class="logoContainer">
      <img src="../../assets/images/logo.png" draggable="false" width=110 height="51" />
    </div>

    <div class="searchBoxContainer">
      <igx-input-group type="search">
          <input #searchBox igxInput type="text" name="searchBox"
            placeholder="{{ 'lblSearchBoxDefaultText' | translate }}"
            [(ngModel)]="searchCriteriaValue" (ngModelChange)="searchBoxKeyDown($event)" />
          <igx-prefix>
              <igx-icon fontSet="material">search</igx-icon>
          </igx-prefix>
          <igx-suffix *ngIf="searchBox.value.length > 0" (click)="clearSearchInputClicked()">
              <igx-icon fontSet="material">clear</igx-icon>
          </igx-suffix>
      </igx-input-group>
    </div>

    <!-- The active orders list -->
    <igx-list (onItemClicked)="activeListItemClicked($event)" [style.height.px]="activeIgxListHeight"
      [allowLeftPanning]="true" [allowRightPanning]="true"
      (onLeftPan)="onLeftPanHandler($event)" (onRightPan)="onRightPanHandler($event)">
      <ng-template igxListItemLeftPanning>
          <div class="listItemLeftPanningStyle">{{ "lblQuickComplete" | translate }}</div>
      </ng-template>
      <ng-template igxListItemRightPanning>
          <div class="listItemRightPanningStyle">{{ "lblCannotComplete" | translate }}</div>
      </ng-template>
      <ng-template igxEmptyList>
        <div class="emptyListContainer">
          <span class="emptyListHeader">{{ "emptyListTemplateHeader" | translate }}</span>
          <br>
          <span class="emptyListDescription">{{ "emptyListTemplateDescription" | translate }}</span>
        </div>
      </ng-template>
      <igx-list-item *ngFor="let order of ordersActive">
        <igx-circular-bar [value]="order.getProgress()" [animate]="true" style="width: 50px; height: 50px">
        </igx-circular-bar>
        <div style="display: inline-block">
          <span style="font-weight: bold;">{{ order.id }}</span>
          <br />{{ "lblCreatedOn" | translate }} {{ order.date }}
        </div>
      </igx-list-item>
      <igx-snackbar #snackbar1 actionText="{{ 'btnUndo' | translate }}" (onAction)="performUndo()">{{ snackBarActionMessage }}</igx-snackbar>
    </igx-list>

    <button igxButton="fab" igxRipple="#FBB13C" class="addOrderButton" (click)="addOrderClicked()">
      <igx-icon fontSet="material" style="font-size:46px; width:46px; height:46px;">add</igx-icon>
    </button>

  </igx-tab-panel>

  <igx-tab-panel label="{{ 'btnArchive' | translate }}" icon="content_copy">

    <igx-navbar title="{{ 'lblArchiveOrders' | translate }}">
    </igx-navbar>

    <!-- The archive orders list -->
    <igx-list (onItemClicked)="archiveListItemClicked($event)" [style.height.px]="archiveIgxListHeight">

      <igx-list-item isHeader="true">{{ "lblCompleted" | translate }}</igx-list-item>  
      <igx-list-item *ngFor="let order of ordersCompleted">
        <div style="display: inline-block">
          <span style="font-weight: bold;">{{ order.id }}</span>
          <br />{{ "lblCompletedOn" | translate }} {{ order.date }}
        </div>
      </igx-list-item>

      <igx-list-item isHeader="true">{{ "lblIncompleted" | translate }}</igx-list-item>
      <igx-list-item *ngFor="let order of ordersIncompleted">
        <div style="display: inline-block">
          <span style="font-weight: bold;">{{ order.id }}</span>
          <br />{{ "lblCreatedOn" | translate }} {{ order.date }}
        </div>
      </igx-list-item>

    </igx-list>
  </igx-tab-panel>

</igx-bottom-nav>
