
<div class="logoContainer">
  <img src="../../assets/images/logo.png" draggable="false" width=110 height="51" />
</div>

<igx-tab-bar>

  <igx-tab-panel label="{{ 'btnActive' | translate }}" icon="bookmark">

    <div class="searchBoxContainer">
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td width="50px">
            <div style="text-align:center;">
              <igx-icon fontSet="material" name="search"></igx-icon>
            </div>              
          </td>
          <td>
            <div class="igx-form-group" style="margin-bottom:0px;">
              <input igxInput type="text" name="searchBox" [(ngModel)]="searchCriteriaValue" (ngModelChange)="searchBoxKeyDown($event)">
              <label igxLabel for="searchBox">{{ 'lblSearchBoxDefaultText' | translate }}</label>
            </div>
          </td>
          <td width="50px">
            <button *ngIf="searchCriteriaValue!=''" igxButton="icon" igxRipple igxRippleCentered="true" (click)="deleteButtonClicked()">
              <igx-icon fontSet="material" name="close"></igx-icon>
            </button>
          </td>
        </tr>
      </table>
    </div>

    <igx-list (onItemClicked)="listItemClicked($event)" id="activeIgxList">
      <ng-template igxEmptyList>
        <div class="emptyListContainer">
          <span class="emptyListHeader">{{ 'emptyListTemplateHeader' | translate }}</span>
          <br>
          <span class="emptyListDescription">{{ 'emptyListTemplateDescription' | translate }}</span>
        </div>
      </ng-template>
      <igx-list-item *ngFor="let order of ordersActive">
        <table style="margin:0px;" cell-padding="1" cell-margin="0">
          <tr>
            <td rowspan="2">
              <div style="width:50px; height:50px; color:pink; margin-right:10px; ">
                <igx-circular-bar [value]="order.getProgress()" [animate]="true">
                </igx-circular-bar>
              </div>
            </td>
            <td>
              <span style="color:red;">{{ order.id }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="color:green;">{{ order.date }}</span>
            </td>
          </tr>
        </table>
      </igx-list-item>
    </igx-list>

  </igx-tab-panel>

  <igx-tab-panel label="{{ 'btnArchive' | translate }}" icon="content_copy">

    <igx-list (onItemClicked)="listItemClicked($event)" id="archiveIgxList">
      
      <igx-list-item isHeader="true">{{ 'lblCompleted' | translate }}</igx-list-item>  
      
      <igx-list-item *ngFor="let order of ordersCompleted">
        <table style="margin:0px;" cell-padding="1" cell-margin="0">
          <tr>
            <td>
              <span style="color:red;">{{ order.id }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="color:green;">{{ order.date }}</span>
            </td>
          </tr>
        </table>
      </igx-list-item>

      <igx-list-item isHeader="true">{{ 'lblIncompleted' | translate }}</igx-list-item>

      <igx-list-item *ngFor="let order of ordersIncompleted">
        <table style="margin:0px;" cell-padding="1" cell-margin="0">
          <tr>
            <td>
              <span style="color:red;">{{ order.id }}</span>
            </td>
          </tr>
          <tr>
            <td>
              <span style="color:green;">{{ order.date }}</span>
            </td>
          </tr>
        </table>
      </igx-list-item>

    </igx-list>
  </igx-tab-panel>

</igx-tab-bar>
