.logoContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchBoxContainer {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.igx-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.emptyListContainer {
    text-align: center;
    margin-top: 50px;
    vertical-align: middle;
}

.emptyListHeader {
    width: 282px;
    height: 36px;
    /* font-family: TitilliumWeb; */
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #0375be;
    /* color: var(--cerulean); */
}

.emptyListDescription {
    width: 261px;
    height: 36px;
    /* font-family: TitilliumWeb; */
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
}

.igx-list__header {
    color: #0375be;
    font-size: 18px;
}

.archivePageHeader {
    background-color: #1276BC;
    color: black;
    height: 60px;
    padding-top: 18px;
    padding-left: 20px;
}

.addOrderButton {
    z-index: 3;
    position: absolute;
    right: 70px;
    bottom: 150px;
}

.listItemLeftPanningStyle {
    display: flex;
    flex-direction: row-reverse;
    background-color:limegreen;
    color: white;
    width: 100%;
    padding-right: 10px;
    align-items: center;
}

.listItemRightPanningStyle {
    display: flex;
    flex-direction: row;
    background-color:red;
    color: white;
    width: 100%;
    padding-left: 10px;
    align-items: center;
}
