<!--Navbar Component Start-->
<igx-navbar title="Order" actionButtonIcon="arrow_back" (onAction)="navigateBack()"></igx-navbar>
<!--Navbar Component End-->

<!--Main Content Start -->
<div class="content">

	<div class="order-detail" *ngIf="order">
		<p class="order-detail__prefix">Order #</p>
		<h6 class="order-datail__number" [style.color]="order.canceled ? 'red' : 'black'">{{ order.number }}</h6>
		<p class="order-detail__date">{{ order.date }}</p>
		<p class="order-detail__company">{{ order.company }}</p>

		<div class="order-detail__cbxgroup" *ngIf="order.items">
			<div style="margin-top: 10px;" *ngFor="let item of order.items">
				<igx-checkbox [disabled]="order.completed || order.canceled" [checked]="order.completed" [(ngModel)]="item.completed">{{ item.description }}</igx-checkbox>
			</div>
		</div>

		<div class="button-group" *ngIf="order.canceled || order.completed">
			<span *ngIf="order.canceled" igxButton="raised" igxButtonBackground="red" igxButtonColor="white" (click)="deleteOrder(order.id)" igxRipple>
				Delete
			</span>

			<span *ngIf="order.completed" igxButton="raised" igxButtonBackground="red" igxButtonColor="white" (click)="deleteOrder(order.id)" igxRipple>
				Delete
			</span>
		</div>

		<div class="button-group" *ngIf="!order.canceled && !order.completed">
			<span igxButton="raised" igxButtonBackground="white" igxButtonColor="red" (click)="cancelOrder(order.id)" igxRipple>
				Cancel
			</span>
			<span *ngIf="!order.canceled" igxButton="raised" igxButtonBackground (click)="completeOrder(order.id)" [disabled]="!order.canBeCompleted && !order.canceled" igxRipple="white">
				Complete
			</span>
		</div>

	</div>
</div>
<!--Main Content End-->
