<ig-navbar title="Order" icon="arrow_back"></ig-navbar>

<div class="inner-content">
	<div class="order-detail" *ngIf="order">
		
		<p class="order-detail__prefix">Order #</p>
		<h6 class="order-datail__number" [style.color]="order.canceled ? 'red' : 'black'">{{ order.number }}</h6>
		<p class="order-detail__date">{{ order.date }}</p>

		<div class="order-detail_cbxgroup" *ngIf="order.items">
			<div style="margin-top: 10px;" *ngFor="let item of order.items">
				<ig-checkbox [(ngModel)]="item.completed">{{ item.description }}</ig-checkbox>
			</div>
		</div>
		
		<div class="button-group">
			<span igButton="raised" igButtonBackground="white" igButtonColor="red" igRipple routerLink="/" (click)="cancelOrder(order.id)">
				Cancel
            </span>
			<span igButton="raised" igRipple routerLink="/" [disabled]="!order.canBeCompleted && !order.canceled" (click)="completeOrder(order.id)" igRipple="white">
				Complete
            </span>
		</div>
	
	</div>
</div>